@media screen and (min-width: 0px) {
    html {
        box-sizing: border-box;
        margin: 0;
        height: 100%;
        --cardPadding: 2rem;
        --pagePadding: 1.25rem;
        --flexGap: 1.25rem;
        --sectionMargin: 2.5rem;
    }
}

@media screen and (min-width: 425px) {
    html {
        --pagePadding: 2.5rem;
        --flexGap: 2.5rem;
    }
}

@media screen and (min-width: 768px) {
    html {
        --pagePadding: 3.75rem;
        --flexGap: 3.75rem;
        --sectionMargin: 3.75rem;
    }
}

* {
    /* outline: 1px solid red; */
}